<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Monolith</title>
  </head>

<body>
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class = "container">
            <a href="/home/{{user}}" class="navbar-brand">
                <img src="/static/Monolith.png">
            </a>

            <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navmenu"
            >
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/{{user}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/dataset/{{user}}" class="nav-link">Datasets</a>
                    </li>
                    <li class="nav-item">
                        <a href="/projects/{{user}}/View or create projects" class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="/my-proj/{{user}}/View your projects" class="nav-link">My Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="/myaccount/{{user}}" class="nav-link">Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about/{{user}}" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout/{{user}}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="cbody">
        <h1>Welcome to Monolith, {{user}}</h1>
        <p>Use the navigation bar above to check out the site!</p>
    </div>
    
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous">
    </script>
</body>
</html>
  
